<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">-->

    <!--<bean id="movimentacaoService"-->
          <!--class="br.com.alfa.trabalho.service.impl.MovimentacaoImpl"/>-->

    <!--<bean class="org.springframework.remoting.rmi.RmiServiceExporter">-->
        <!--<property name="serviceName" value="movimentacaoService"/>-->
        <!--<property name="service" ref="movimentacaoService"/>-->
        <!--<property name="serviceInterface" value="br.com.alfa.trabalho.service.MovimentacaoService"/>-->
        <!--<property name="registryPort" value="1099"/>-->
    <!--</bean>-->
<!--</beans>-->
