.dlg-ajax-status {
    width: 102px !important;
    box-shadow: none;
    box-shadow: none;
}

.dlg-ajax-status .ui-dialog-content {
    padding: 0 !important;
    margin: 0 !important;
}

.dlg-ajax-status .ui-dialog-titlebar {
    display: none !important;
}

.ui-widget-overlay {
    background: #000;
}

.ui-button-text {
    background: transparent !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    box-shadow: none !important;
}

#login-box .ui-button {
    background: linear-gradient(to bottom, rgb(228, 115, 39) 0%,
    rgb(228, 115, 39) 100%);
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}